<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759857387012-f79ujkcarralh5bp8ca6g9ib4nfoqam2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759857387012-f79ujkcarralh5bp8ca6g9ib4nfoqam2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>759857387012-k2spof8321mrkeal2h3sb1kcfqn6pqbr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVv317uwluc1kaDUdXN9MVJcBQh0bUVcU</string>
	<key>GCM_SENDER_ID</key>
	<string>759857387012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.org.lifegroup.hyperbook</string>
	<key>PROJECT_ID</key>
	<string>hyperbook-52ff7</string>
	<key>STORAGE_BUCKET</key>
	<string>hyperbook-52ff7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759857387012:ios:6bfa7fb68fb4ede0bcc751</string>
</dict>
</plist>